<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-AAw8jbfsvYLsWTCXOslRwc2c3-fiTi8</string>
	<key>GCM_SENDER_ID</key>
	<string>979385911364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.auburn.onlinecsse.MyShelves</string>
	<key>PROJECT_ID</key>
	<string>myshelves-6bf9f</string>
	<key>STORAGE_BUCKET</key>
	<string>myshelves-6bf9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979385911364:ios:5d339deec9ef507c999411</string>
</dict>
</plist>